@mixin block-center-align {
    display: block;
    margin: 0 auto !important;
}

@mixin block-valign-wrapper {
    vertical-align: middle !important;
    height: 100% !important;
}

@mixin left-align {
    text-align: left;
}

@mixin right-align {
    text-align: right;
}

@mixin center-align {
    text-align: center;
}

@mixin valign-wrapper {
    display: flex;
    align-items: center;
}

// liner-background
@mixin liner-background-2($deg, $first, $fir-length, $second, $sec-length) {
    background-image: linear-gradient($deg, $first 0, $first $fir-length, $second $fir-length,$second 100%);
}

@mixin liner-background-3($deg, $first, $fir-length, $second, $sec-length, $third, $thr-length) {
    background-image: linear-gradient($deg, $first 0, $first $fir-length, $second $fir-length,$second $fir-length+$sec-length, $third $fir-length+$sec-length, $third 100%);
}



// Grid
@mixin get-pull-and-push($affix, $i, $perc) {
    &.pull-#{$affix}#{$i} {
        right: $perc;
    }

    &.push-#{$affix}#{$i} {
        left: $perc;
    }
}

@mixin get-grid($affix) {
    $i: 1;
    @while $i <= $num-cols {
        $perc: unquote((($i / $num-cols) * 100) + "%");
        &.#{$affix}#{$i} {
            width: $perc;
        }
        $i: $i + 1;
    }

    $i: 0;
    @while $i <= $num-cols {
        $perc: unquote((($i / $num-cols) * 100) + "%");
        @include get-pull-and-push($affix, $i, $perc);
        $i: $i + 1;
    }
}


