@mixin block-center-align {
    display: block;
    margin: 0 auto !important;
}

@mixin block-valign-wrapper {
    vertical-align: middle !important;
    height: 100% !important;
}

@mixin left-align {
    text-align: left;
}

@mixin right-align {
    text-align: right;
}

@mixin center-align {
    text-align: center;
}

@mixin valign-wrapper {
    display: flex;
    align-items: center;
}

// liner-background
@mixin liner-background-2($deg, $first, $fir-length, $second, $sec-length) {
    background-image: linear-gradient($deg, $first 0, $first $fir-length, $second $fir-length,$second 100%);
}

@mixin liner-background-3($deg, $first, $fir-length, $second, $sec-length, $third, $thr-length) {
    background-image: linear-gradient($deg, $first 0, $first $fir-length, $second $fir-length,$second $fir-length+$sec-length, $third $fir-length+$sec-length, $third 100%);
}



// Grid
@mixin get-pull-and-push($affix, $i, $perc) {
    &.pull-#{$affix}#{$i} {
        right: $perc;
    }

    &.push-#{$affix}#{$i} {
        left: $perc;
    }
}

@mixin get-grid($affix) {
    $i: 1;
    @while $i <= $num-cols {
        $perc: unquote((($i / $num-cols) * 100) + "%");
        &.#{$affix}#{$i} {
            width: $perc;
        }
        $i: $i + 1;
    }

    $i: 0;
    @while $i <= $num-cols {
        $perc: unquote((($i / $num-cols) * 100) + "%");
        @include get-pull-and-push($affix, $i, $perc);
        $i: $i + 1;
    }
}


// Header
@mixin header-logo-and-menu($header-height) {
    .logo {
        position: absolute;
        padding: 0 $small-gutter-width;
        font-size: $small-header-height * 0.70;

        &.center {
            left: 50%;
            transform: translateX(-50%);
        }
        
        &.center-on-small {
            @media #{$small-and-down} {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &.right {
            left: auto;
            right: 0;
        }

        img {
            float: left;
            margin: ($header-height - $header-height * .8)/2 0;
            margin-right: $small-gutter-width;
            width: $header-height * .8;
            border: solid $header-content-color 1px;
            border-radius: 50%;
        }

        a {
            float: left;
        }

        a:visited {
            text-decoration: none;
            color: $header-content-color;
        }

        a:hover {
            text-decoration: none;
            color: $header-content-color;
        }
        
    }

    ul {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 $small-gutter-width;
        list-style-type: none;

        &.center {
            right: 50%;
            transform: translateX(50%);
        }
        &.left {
            left: 0;
            right: auto;
        }
        &.hide-on-small {
            @media #{$small-and-down} {
                display: none;
            }
        }

        li {
            transition: background-color .3s;
            float: left;
            padding: 0 $gutter-width;
            transition: background-color 0.3s;

            a {
                line-height: $header-height;
            }
            
            a:visited {
                text-decoration: none;
                color: $header-content-color;
            }

            a:hover {
                text-decoration: none;
                color: $header-content-color;
            }

            &:hover {
                background-color: black;
            }   

            
        }
    }
}

@mixin header-classes($header-height: 0) {

    position: relative;
    height: $header-height;
    background-color: $header-background-color;
    overflow: hidden;
    color: $header-content-color;
    &.fix-top {
        z-index: 99;
        position: fixed;
        width: 100%;
    }
    @if $header-height <= $medium-header-height {
        line-height: $header-height;
        @include header-logo-and-menu($header-height);
    }
}


