.jumbotron-background {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: url("bg.jpg") 0 90% / cover;
    filter: blur(2px);
    margin: -2px;
    z-index: -1;
    // ul li a:hover {
    //     background-color: rgba(255,255,255, .3);
    // }
    &.blur {
        filter: blur(3px);
        margin: -3px;
    }
}