.header-background {
    background: url("bg.jpg") 0 90% / cover;
    ul li a:hover {
        background-color: rgba(255,255,255, .3);
    }
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 15em;
    margin:0 auto;
    text-align: center;
    color: rgba(0,0,0,.7);
    h1 {
        font-size: 4em;
        margin-bottom: 0.5em;
    }

    span {
        width: 110%;
        border-top: 2px solid rgba(0,0,0,.7);
        font-size: 1.5em;
        padding-top: 0.5em;
    }
}