.jumbotron {
    height: 100vh;
    padding: 0;
    .base-title {
        min-width: 240px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        color: white;
        text-shadow: 0px 1px 2px #333;
        .title {
            opacity: 0;
            font-size: 4rem;
            text-align: center;
            animation: fade-in-from-bottom 1s cubic-bezier(0, 0, 0.2, 1) .5s forwards;

            &::after {
                content: '';
                display: block;
                margin-top: 1rem;
                opacity: 0;
                width: inherit;
                height: 2px;
                background: white;
                animation: fade-in-from-bottom 1s cubic-bezier(0, 0, 0.2, 1) forwards;
            }
        }

        .subtitle {
            opacity: 0;            
            display: block;
            //border-top: 2px solid rgba(0,0,0,.7);
            font-size: 1.5rem;
            padding-top: 1rem;
            text-align: center;
            animation: fade-in-from-bottom 1s cubic-bezier(0, 0, 0.2, 1) 1s forwards;
        }
    }
     
    &.small .post-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px #333;
        .title {
            opacity: 0;
            font-size: 3rem;
            @media #{$small-and-down} {
                font-size: 2rem;
            }
            animation: fade-in-from-left 1s cubic-bezier(0, 0, 0.2, 1) .3s forwards;
        }

        .date {
            opacity: 0;
            font-size: 0.9rem;
            margin-top: 1em;
            animation: fade-in-from-left 1s cubic-bezier(0, 0, 0.2, 1) .2s forwards;
        }

        .info {
            opacity: 0;
            margin-top: 1em;
            &>ul {
                list-style: none;
                li {
                    display: inline;
                    margin-right: 1rem;
                    i {
                        display: inline;
                        font-size: 0.8rem;
                        vertical-align: middle;
                        margin-right: 0.5rem;
                    }
                    ul {
                        display: inline;
                        li {
                            display: inline;
                            font-size: 0.8rem;
                            vertical-align: middle;
                            margin-right: 0.5rem;

                        }
                    }
                }
            }

        animation: fade-in-from-left 1s cubic-bezier(0, 0, 0.2, 1) .1s forwards;
        }
    }
}



.cards-container {
    .card,
    .card-flat {
        margin-top: 3rem;
    }
}

.global-bg {
    position: relative;
    background: white;
}