.card,
.card-flat {
    overflow: hidden;
    will-change: background, filter, box-shadow; 
    transition: .3s;
    .card-header {
        position: relative;

        .header-img {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        p>a {
            text-decoration: none;
            color: black;
            transition: color ease-out .3s;

            &:hover {
                text-decoration: none;
                color: color('grey', 'darken-3');
            }

            &:visited {
                color: color('grey', 'darken-2');
            }
        }

        &:hover {
            background-size: 97.5% 100%;
        }

    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}

.card {
    @extend .z-depth-1;
    
    .card-header {
        height: $card-header-height;

        .header-img {
            background-position: 0 50%;
            background-size: cover;
            background: $card-header-background;
        }

        p {
            background-color: rgba(255,255,255, .5);
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 $gutter-width;
            margin: $gutter-width 0;
            font-size: $card-title-font-size;
            line-height: normal;
            font-weight: 300;
            @extend .z-depth-1;
            transition: box-shadow ease-out .3s;


            &:hover {
                @extend .z-depth-1-half;
            }
        }
    }

    .card-content {
        margin: 0 $gutter-width;
        padding: $gutter-width 0;
        font-size: $card-content-font-size;
        
    }
        
    .card-action{
        margin: 0 $gutter-width;
        padding: $small-gutter-width 0;
        font-size: $card-content-font-size * 1.2;
        color: color('indigo', 'base');
        border-top: 1px solid rgba(160,160,160,.7);

        .right {
            float: right;
            margin-bottom: $small-gutter-width;
        }
    }

    &:hover {
        @extend .z-depth-1-half;
    } 
}

.card-flat {
    .card-header {
        width: 100%;
        .header-img {
            background-position: 0 50%;
            background-size: cover;
            background: transparent;
        }

        p {
            position: relative;
            bottom: 0;
            left: 0;
            font-size: $card-flat-title-font-size;
            padding: .5rem 1rem .5rem 0;
        }

    }

    .card-content {
        padding: $gutter-width 0 $small-gutter-width 0;
        font-size: $card-flar-content-font-size;
    }

    .card-action {
        font-size: $card-flar-content-font-size * 1.2;
    }

    .card-info {
        &.with-border {
            border-top: 1px solid #ecf0f1;
            border-bottom: 1px solid #ecf0f1;
        } 
        font-size: $card-info-font-size;
        &>ul {
            list-style: none;
            li {
                display: inline-block;
                margin: 1.4rem 1.4rem 1.4rem 0;
                i {
                    display: inline;
                    font-size: $card-info-font-size;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
                ul {
                    display: inline;
                    li {
                        display: inline;
                        font-size: $card-info-font-size;
                        vertical-align: middle;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

