.card {
    @extend .z-depth-1; 
    will-change: background, box-shadow; 
    transition: .3s;
    .card-header {
        position: relative;
        height: $card-header-height;
        overflow: hidden;
        background-position: 0 50%;
        background-size: cover;
        background: $card-background;
        background-size: 100% 100%;
        will-change: background, box-shadow; 
        transition: .3s;
        span {
            background-color: rgba(255,255,255, .5);
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 $gutter-width;
            margin: $gutter-width 0;
            font-size: $card-title-fontsize;
            line-height: normal;
            font-weight: 300;
            @extend .z-depth-1;
            transition: box-shadow ease-out .3s;
            a {
                text-decoration: none;
                color: black;
                transition: color ease-out .3s;

            }

            a:hover {
                text-decoration: none;
                color: color('grey', 'darken-3');
            }

            a:visited {
                color: color('grey', 'darken-2');
            }

            &:hover {
                @extend .z-depth-1-half;
            }
        }

        &:hover {
            background-size: 97.5% 100%;
        }

    }

    .card-content {
        margin: 0 $gutter-width;
        padding: $gutter-width 0;
        font-size: $card-content-fontsize;
        
    }
    
    .card-action{
        margin: 0 $gutter-width;
        padding: $small-gutter-width 0;
        font-size: $card-content-fontsize * 1.2;
        color: color('indigo', 'base');
        border-top: 1px solid rgba(160,160,160,.7);

        .right {
            float: right;
            margin-bottom: $small-gutter-width;
        }
    }

    &:hover {
        @extend .z-depth-1-half;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}