
.small-header {
    @include header-classes($small-header-height);
}

header, .header {
    @include header-classes($medium-header-height);

}

.big-header {
    @include header-classes($big-header-height);
}

.ultra-header {
    @include header-classes($ultra-header-height);
}

// 巨幅
.jumbotron {
    position: relative;
    height: $ultra-header-height;
    padding: 2rem 1rem;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    h1 {
        font-size: 4em;
        margin-bottom: 0.5em;
    }

    span {
        width: 110%;
        border-top: 2px solid rgba(0,0,0,.7);
        font-size: 1.5em;
        padding-top: 0.5em;
    }
}










