
.small-header {
    @include header-classes($small-header-height);
}

header, .header {
    @include header-classes($medium-header-height);

}

.big-header {
    @include header-classes($big-header-height);
}

.ultra-header {
    @include header-classes($ultra-header-height);
}

// 巨幅
.jumbotron {
    position: relative;
    height: $ultra-header-height;
    padding: 2rem 1rem;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    transition: height .3s ease;

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    span {
        display: block;
        border-top: 2px solid rgba(0,0,0,.7);
        font-size: 1.5rem;
        padding-top: 1rem;
        text-align: center;
    }

    .jumbotron-background {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -1;
        transition: filter ease-out 1s; 
        // ul li a:hover {
        //     background-color: rgba(255,255,255, .3);
        // }
        &.blur {
            filter: blur(100px);
            margin: -100px;
        }
    }
}










