// 巨幅
.jumbotron {
    position: relative;
    background: transparent;
    position: relative;
    height: $ultra-header-height;
    padding: 2rem 1rem;
    overflow: hidden;
    transition: height .3s ease;

    .jumbotron-background {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0; top: 0;
        z-index: -50;
        transition: filter, opacity, background-color, ease-out 1s; 
        &.blur {
            filter: blur(5px);
        }

        &.dark {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: black;
                opacity: .3;
            }
        }

        &.front {
            z-index: -49;
            background-color: #616161;
        }

        &.vanish {
            opacity: 0;
        }
    }
}
