.pager {
    display: block;
    position: relative;
    user-select: none;
    .pager-item {
        display: inline-block;
        height: $paginator-height;
        user-select: none;
        text-align: center;
        line-height: $paginator-height;
        font-size: $paginator-font-size;
        a {
            display: inherit;
            height: $paginator-height;
            padding: 0 .6rem;
            color: $paginator-font-color;
            background: $button-background-flat;
            background-size: 0 200%, 0 200%, 100% 100%;
            cursor: pointer;
            will-change: background-size, color;
            transition: ease-out .2s;

            &:hover {
                background-size: 0 200%, 400% 200%, 100% 100%;
                color: $button-font-color-base;
            }

            &:focus {
                background-size: 400% 200%, 400% 200%, 100% 100%;
                color: $button-font-color-base;
            }
        }

        &.go-prev, &.go-next {
            // margin-right: $paginator-height / 2;
            overflow: hidden;
            vertical-align: bottom;
            a i {
                vertical-align: text-top;
            }
        }
        
        // &.go-next {
        //     // margin-left: $paginator-height / 2;
        //     overflow: hidden;
        //     vertical-align: bottom;
        //     a i {
        //         vertical-align: text-top;
        //     }
        // }

        &[disabled],
        &.disabled {
            a {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.65;
                background: transparent;
            }
        }

        &[selected],
        &.selected {
            a {
                pointer-events: none;
                cursor: default;
                background: $paginator-selected-background;
                color: $button-font-color-base;
            }
        }
    }
}